body
{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;

    background-color: #EEF3F7;

    color: #303030;
    line-height: 1.7;
}

header
{
    background-color: #FFF4B8;

    background:
        linear-gradient(
            135deg,
            #FFF8C8,
            #FFE89A
        );

    color: #2F3B52;

    padding: 30px;

    border-radius: 12px;

    box-shadow:
        0px 4px 12px rgba(0,0,0,0.15);
}


h1
{
    margin: 0;
}

header h1
{
    font-family: 'Montserrat', sans-serif;

    font-size: 3.0em;

    font-weight: 900;

    letter-spacing: 2px;

    color: #2F3B52;

    text-shadow:
        2px 2px 4px rgba(255,255,255,0.8),
        4px 4px 8px rgba(0,0,0,0.15);

    margin-bottom: 10px;
}

h2
{
    color: #2F3B52;
    margin-top: 40px;
}

section
{
    background-color: #FFFFFF;

    padding: 25px;

    margin-top: 20px;

    border-radius: 12px;

    box-shadow:
        0px 2px 8px rgba(0,0,0,0.08);
}

ul
{
    line-height: 2;
}

nav
{
    margin-top: 20px;
    margin-bottom: 20px;
}

.navButton
{
    display: inline-block;

    padding: 12px 28px;

    margin-right: 12px;

    text-decoration: none;

    font-weight: bold;

    color: #2F3B52;

    background-color: #D9DDE2;

    border: 1px solid #A8B0B8;

    border-radius: 10px;

    box-shadow:
        0px 5px 0px #A8B0B8,
        0px 7px 12px rgba(0,0,0,0.15);

    transition: all 0.15s ease;
}

.navButton:hover
{
    background-color: #E7EAEE;
}

.navButton:active
{
    transform: translateY(4px);

    box-shadow:
        0px 1px 0px #A8B0B8;

    background-color: #CDD2D8;
}

footer
{
    margin-top: 40px;

    text-align: center;

    color: #666;

    font-size: 0.9em;
}
